* {
    margin: 0;
    padding: 0;
}

.small-img {
    width: 300px;
}
.container-small {
    width: 50%;
}
.flex-right {
    flex-direction: row;
}

.limited-height {
    height: 200px;
}

.card-body {
    height: 100%;
    width: 70%;
}

